<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Shop Hot
                </h4>

                <p class="stext-107 cl7 size-201">
                    Name
                </p>
                <p class="stext-107 cl7 size-201">
                    Name
                </p>

                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-youtube"></i>
                    </a>


                </div>
            </div>
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Danh mục sản phẩm
                </h4>

                @Html.Action("ListCategoryFooter","Module")
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Về chúng tôi
                </h4>
                @Html.Action("ListPageFooter","Module")
            </div>



            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    NHẬN TIN KHUYẾN MÃI
                </h4>

                <form>
                    <div class="wrap-input1 w-full p-b-4">
                        <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="Nhập địa chỉ Email...">
                        <div class="focus-input1 trans-04"></div>
                    </div>

                    <div class="p-t-18">
                        <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            GỬI
                        </button>
                    </div>
                </form>
            </div>
        </div>



        <p class="stext-107 cl6 txt-center">
            Copyright &copy;2021

        </p>
    </div>
    </div>
</footer>